.asteriskField {
    display: none;
}

@media screen and (max-width: 575px) {
    .hide-when-small {
        display: none;
    }
}

.slider_mark {
    display: block;
    position: absolute;
    top: 45px;
    transform-origin: left top;
    transform: rotate(20deg);
    padding: 1px 3px;
    background-color: #e1e1e1;
    border-radius: 3px;
}

/* Move on top if mouse is over */
.slider_mark:hover {
    z-index: 100;
}

#div_id_unit_price {
    margin-bottom: 4rem;
}


#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
padding-bottom: 25rem;    /* Footer height */
}

#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 25rem;            /* Footer height */
}