[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "==1.9.2"
gunicorn = "*"
django = "~=3.2"
factory-boy = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"
# This is to allow black to be installed, as it only exists as a prerelease

[pipenv]
allow_prereleases = true
