{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static%}
{% load i18n %}
{% load sekizai_tags %}


<!-- Next trade form -->
<div class="card mb-3">
    <div class="card-header">
        {% translate 'Make your next trade' %}
    </div>
    <div class="card-body pb-2">
        <form action="{% url 'market:play' market.market_id %}" method="post" class="mb-4" id='trade_form'>
            {% csrf_token %}
            {{ form|crispy }}
        </form>
        <div class="d-flex justify-content-center mt-4 mb-4">
            <input type="button" value="{% translate 'Make Trade!' %}" class="btn btn-outline-primary" onclick="make_trade_button_handler()">
            <button class="btn btn-warning" data-toggle="modal" data-target="#confirmationPopUp" id="warning_button" style="display:none">
        </div>

        <div class="d-flex justify-content-center">
            <ul class="text-secondary">
                <li>
                    {% translate 'Total prod. cost' %}: <span id="total_prod_cost_formula"></span><b id="total_prod_cost"></b> kr.
                </li>
                <li>
                    {% translate 'Balance after production' %}: <span id="balance_after_production_formula"></span><b id="balance_after_production"></b> kr.
                </li>
                <li>
                    {% translate 'Income if all units are sold' %}: <span id="income_best_case_formula"></span><b id="income_best_case"></b> kr.
                </li>
                <li>
                    {% translate 'Profit if all units are sold' %}: <span id="profit_best_case_formula"></span> <b id="profit_best_case"></b> kr. 
                </li>
                <li>{% translate 'Profit if no units are sold' %}: <span id="profit_worst_case_formula"></span><b id="profit_worst_case"></b> kr.
                </li>
            </ul>        
        </div>
    </div>

    <!-- Pop-up confirmation when player tries to submit trade where price < prod_cost -->
    <div class="modal fade" id="confirmationPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{% translate 'Confirm your trade' %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% blocktranslate %}
                    Your choice of price per unit is lower than your fixed production cost per unit. This is guaranteed to make a loss. 
                    <br><br>
                    Are you sure you want to proceed with this trade?
                    {% endblocktranslate %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% translate 'Cancel' %}</button>
                    <button type="submit" class="btn btn-danger"
                            form="trade_form">{% translate 'Proceed' %}</button>
                </div>
            </div>
        </div>
    </div>

</div>


{% addtoblock 'js' %}

<script>
 var labels = document.getElementsByTagName('label');    
 var price_label = labels[0]
 var amount_label = labels[1]
 
 var amount_slider = document.getElementById("id_unit_amount");
 var price_slider = document.getElementById("id_unit_price");
 var balance = parseFloat("{{ trader.balance }}".replace(',', '.'))
 var unit_prod_cost = parseFloat("{{ trader.prod_cost }}".replace(',', '.'))
 var total_cost = document.getElementById('total_cost');
 var income_best_case = document.getElementById('income_best_case');
 var balance_after_production = document.getElementById('balance_after_production');
 var profit_best_case = document.getElementById('profit_best_case')
 var profit_worst_case = document.getElementById('profit_worst_case')
 var market_max_cost = parseFloat("{{ trader.market.max_cost }}".replace(',', '.'));
 var market_average_price = parseFloat("{{ round_stats.all.last.avg_price }}".replace(',', '.'));
 var round = "{{ trader.market.round }}";

 function make_trade_button_handler(){

     if(price_slider.value < unit_prod_cost){
         document.getElementById("warning_button").click();
     }
     else{
         
         document.getElementById('trade_form').submit()
     }
 }

 // only show calculations when screen width is bigger than this number
 const show_formula_breakpoint = 490;

 function initializeRangeSliders() {
     var $priceslider = $(".price-slider");
     var $productionslider = $(".production-slider");

     // Custom Marks using code from http://ionden.com/a/plugins/ion.rangeSlider/showcase.html#a_marks
     var min = $priceslider.attr("min");
     var max = $priceslider.attr("max");
     function convertToPercent (num) {
	 var percent = ((num - min) / (max - min)) * 100;
	 return percent;
     }

     function addMark ($slider, value, description, color) {
         var left = convertToPercent(value);
         var html = '<span class="slider_mark" style="left: ' + left + '%; background-color: ' + color + ';"> '
                  + value
                  + ' kr. (' + description + ')</span>';
         $slider.append(html);
     }

     $priceslider.ionRangeSlider({
         skin: "round",
         type: "single",
         grid : true,
         min: min,
         max: max,
         hide_min_max : true,
         step: 0.1,
         from: unit_prod_cost,
         prettify : prettify ,
         postfix : " kr.",
         onStart: function (data) {
             addMark(data.slider, unit_prod_cost, "din produktionspris", "#e1e1e1");
             if (round > 0) {
    	         addMark(data.slider, market_average_price, "markedsgennemsnit.", "#add2f7");
             }
         }
     });

     $productionslider.ionRangeSlider({
         skin: "round",
         type: "single",
         grid : true,
         min: $productionslider.attr("min"),
         max: $productionslider.attr("max"),
         hide_min_max : true,
         step: 1,
         from: 0,
         postfix : " stk."
     });
 }

 function set_total_cost(){
     amount = amount_slider.value; 
     total_prod_cost.innerHTML = prettify(amount * unit_prod_cost);
     if ($(window).width() > show_formula_breakpoint) {
         formula = document.getElementById('total_prod_cost_formula')
         formula.innerHTML = `${amount} * ${prettify(unit_prod_cost)} = `;
     } 
 }
 
 function set_potential_income(){
     amount = amount_slider.value;
     price = parseFloat(price_slider.value);
     income_best_case.innerHTML = prettify(amount*price);
     
     if ($(window).width() > show_formula_breakpoint) { 
         formula = document.getElementById('income_best_case_formula')
         formula.innerHTML = `${amount} * ${prettify(price)} = `; 
     }
 }

 function set_balance_after_production(){
     amount = amount_slider.value;
     costs = amount * unit_prod_cost;
     balance_after_production.innerHTML = prettify(balance - costs);

     if ($(window).width() > show_formula_breakpoint) { 
         formula = document.getElementById('balance_after_production_formula')
         formula.innerHTML = `${prettify(balance)} - ${prettify(costs)} = `;
     } 
 }
 
 function set_potential_profit(){
     amount = amount_slider.value;
     price = price_slider.value;
     expences = amount*unit_prod_cost;
     best_case_income = amount*price;
     best_case_profit = best_case_income - expences
     worst_case_profit = - expences

     if (best_case_profit < 0){
         profit_best_case.style.color = 'red'
     } else{
         profit_best_case.style.color = 'green'
     }
     
     if (worst_case_profit < 0){
         profit_worst_case.style.color='red'
     } else{
         profit_worst_case.style.color = 'green'
     }
     profit_best_case.innerHTML = prettify(best_case_profit);
     profit_worst_case.innerHTML = prettify(-expences);

     if ($(window).width() > show_formula_breakpoint) { 
         document.getElementById('profit_best_case_formula').innerHTML = `${prettify(best_case_income)} - ${prettify(expences)} = `;
         document.getElementById('profit_worst_case_formula').innerHTML = `0.00 - ${prettify(expences)} = `;
     }     
 }

 initializeRangeSliders();
 set_total_cost(); 
 set_potential_income()
 set_balance_after_production()
 set_potential_profit()

 price_slider.oninput = function () {
     set_potential_income();
     set_balance_after_production()
     set_potential_profit();
 }

 amount_slider.oninput = function () {
     set_total_cost();
     set_potential_income();
     set_balance_after_production()
     set_potential_profit();
 }
 
</script>

{% endaddtoblock %}
