{% extends "market/base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load static%}

{% block title %}Spil{% endblock %}
{% block content %}

<div class="row mt-lg-4" >
    <div class="col-12 col-lg-6">
        <!-- Messages -->
        {% include "market/play/play.messages.html" %}

        <!-- Next trade form -->
        {% if not wait and not market.game_over and not trader.bankrupt  %}
            {% include "market/play/play.next_trade_form.html" %}
        {% endif %}

        <!-- Scoreboard -->
        {% if market.game_over or trader.bankrupt %}
            {% include "market/play/play.scoreboard.html" %}
        {% endif%}
    </div>

    <!-- Robot code editor -->
    {% if not wait and not market.game_over and not trader.bankrupt  %}
         {% if market.allow_robots %}
              <div class="col-12 col-lg-6 mt-3 mt-lg-0">
                  {% include "market/play/play.robots.html" %}
              </div>
         {% endif %}
    {% endif %}
    
    <!-- Charts -->
    <div class="col-12 col-lg-6 mt-3 mt-lg-0 ">
        {% include "market/play/play.charts.html" %}
    </div>
</div>
{% endblock content %}

