{% extends 'market/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Log på{% endblock title %}

{% block content %}
<div class="container">
    <h2>Log på</h2>
    <p class="mb-4">Du har brug for en konto, hvis du vil oprette et marked.</p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mt-3 mb-4 d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Log på</button>
        </div>
    </form>
    <p>Glemt din adgangskode?<a href="{% url 'account_reset_password' %}"> Få ny adgangskode</a></p>
    <p>Har du ikke nogen konto?<a href="{% url 'account_signup' %}"> Få en konto</a></p>
</div>
{% endblock content %}
