{% extends 'market/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate 'Log In' %}{% endblock title %}

{% block content %}
<div class="container">
    <h3>{% translate 'LogIn_Title' %}</h3>
    <p class="mb-4">
    In order to host a market you need an account.<i> Traders joining a market don't need an account.</i> 
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="mt-3 mb-4 d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">{% translate 'LogIn_Title' %}</button>
        </div>
    </form>
    <p>{% translate 'ForgotPassword' %} <a href="{% url 'account_reset_password' %}">{% translate 'ResetPassword' %}</a></p>
    <p>{% translate 'HaveNoAccount' %} <a href="{% url 'account_signup' %}">{% translate 'SignUp' %}</a></p>
</div>
{% endblock content %}
