{% extends "market/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Nulstil adgangskode{% endblock %}

{% block content %}
    <h2 class="mb-3 mt-5">{% if token_fail %}Ugyldigt link{% else %}Nulstil adgangskode{% endif %}</h2>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>Dit link til nulstilling af adgangskode er ugyldig, muligvis
        fordi det allerede har været anvendt. 
        Du kan efterspørge en <a href="{{ passwd_reset_url }}">ny adgangskode her</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" name="action" value="Skift  adgangskode"/>
            </form>
        {% else %}
            <p>Du har nu ændret din adgangskode.</p>
        {% endif %}
    {% endif %}
{% endblock %}