{% extends "market/base.html" %}
{% load crispy_forms_tags %}

{% load account %}

{% block title %}Nulstil adgangskode{% endblock title %}

{% block content %}

    <h2 class="mb-3 mt-5">Skift  adgangskode</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Har du glemt din adgangskode? Angiv din e-mailadresse herunder, og så sender vi dig en e-mail, hvorfra
     du kan lave nulstille det.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Nulstil adgangskode" />
    </form>

    <p class="mt-3">Kontakt os venligst, hvis du har problemer med at nulstille din adgangskode.</p>
{% endblock %}