{% extends "market/base.html" %}

{% block title %}Market creator{% endblock %}

{% block content %}
    <h1>Create a market:</h1>
	<form action="{% url 'market:create' %}" method="post">
	  {% csrf_token %}
	  <label>Alpha</label>
	  <input type="number" name="alpha" id="alpha" value="105", step="0.0001">
	  <br>
	  <label>Beta</label>
	  <input type="number" name="beta" id="beta" value="17.5", step="0.0001">
	  <br>
	  <label>Theta</label>
	  <input type="number" name="theta" id="theta" value="14.58", step="0.0001">
	  <br>
	  <label>Min cost</label>
	  <input type="number" name="min_cost" id="min_cost" value="5">
	  <br>
	  <label>Max cost</label>
	  <input type="number" name="max_cost" id="max_cost" value="15">
	  <br>
	  <input type="submit" value="Create">
	</form>
{% endblock %}
