<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Market simulation</title>
  </head>
  <body>
    <h1>Choose a name and join a market</h1>
	<form action="{% url 'market:join' %}" method="post">
	  {% csrf_token %}
	  <label>Username</label>
	  <input type="text" name="username" id="username" value="">
	  <br>
	  <label>Market ID</label>
	  <input type="text" name="market_id" id="market_id" value="{{ market }}">
	  <br>
	  <input type="submit" value="Join">
	</form>
  </body>
</html>
