{% extends "market/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Trading{% endblock %}

{% block content %}

<br><br>
    <h6><b>Trader name:</b> {{ trader.name }}</h6>
    <p><b>Market:</b> {{ market.market_id }}</p>
<br><br>

<form action="" method="post">{% csrf_token %}
    {{ form|crispy 	}}
    <input type="submit" value="Ready" class="btn btn-outline-primary">
</form>

<br><br><br>

<div>
    <p><b>Production cost:</b> {{ trader.prod_cost }} per unit</p>
    <p><b>Your saldo:</b> {{ trader.money }}</p>
</div>
{% endblock %}

{% block javascript %}

<script>
    var labels = document.getElementsByTagName('label');
    price_label = labels[0]
    amount_label = labels[1]
    
    var price_slider = document.getElementById("id_unit_price");
    var amount_slider = document.getElementById("id_unit_amount");

    price_slider.oninput = function () {
        price_label.innerHTML = "Price: " + price_slider.value;
    }
    amount_slider.oninput = function () {
        amount_label.innerHTML = "Amount: " + amount_slider.value;
    }
</script>

{% endblock %}
