{% extends 'market/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Log In{% endblock title %}

{% block content %}
<h2>{% translate 'LogIn' %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">{% translate 'LogIn' %}</button>
</form>
<br>
<p>{% translate 'ForgotPassword' %} <a href="{% url 'password_reset' %}">{% translate 'ResetPassword' %}</a></p>
<p>{% translate 'HaveNoAccount' %} <a href="{% url 'signup' %}">{% translate 'SignUp' %}</a></p>

{% endblock content %}
