{% extends 'market/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
<h2>{% translate 'SignUp_Title' %}</h2>
<p class="mb-4">
In order to host a market you need an account. Your account will make it possible for you to revisit 
the markets you have created. <i>Traders joining a market don't need an account.</i>
</p>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-center">
    <button class="btn btn-primary" type="submit">{% translate 'SignUp_Title' %}</button>
    </div>
</form>
{% endblock content %}
