{% extends "market/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Create{% endblock %}

{% block content %}

<h3>Create a market</h3>
<h6 class="mb-3">Choose between predefined scenarios or create your own custom market from scratch</h6>

<div class="card mb-3">
	<div class="card-header">
		Predefined Market Scenarios 	
	</div>
	<div class="card-body">
		<form id='market_radio_form'>
			<h5 class="card-title">Select scenario (see/edit details below)</h5>
			<div class="pl-3 mb-2">
				<input type="radio" id="scenario_1" name="scenario" value="scenario_1" checked>
				<label for="baguettes">Scenario 1. All traders have the same production costs. This is a good place to start.</label><br>
				<input type="radio" id="scenario_2" name="scenario" value="scenario_2">
				<label for="cake">Scenario 2. Traders have different production costs and competition is uneven.</label><br>
				<input type="radio" id="custom" name="scenario" value="custom">
				<label for="custom">Custom. Feel free to create your own market!</label><br>
			</div>
		</form>

		<div class="d-flex justify-content-center">
		<input type="submit" value="Create Market" class="btn btn-primary my-2" form="create-market-form">
		</div>
	</div>
</div>
<div class="card mb-3">
	<div class="card-header">
		Market Details
	</div>
	<div class="card-body">
		<form action="" id="create-market-form" method="post">{% csrf_token %}
			{{ form|crispy }}
		</form>
		<div class="d-flex justify-content-center">
			<input type="submit" value="Create Market" class="btn btn-primary my-4" form="create-market-form">
		</div>
	</div>
</div>
{% endblock content %}
{% block javascript %}
<script>

	default_markets = {{ default_markets|safe }}

	//default_markets =JSON.parse("{{ default_markets|escapejs }}") // is this unsafe? 

	function fill_form(product){
		document.getElementById('id_product_name_singular').value=product.product_name_singular
		document.getElementById('id_product_name_plural').value=product.product_name_plural
		document.getElementById('id_initial_balance').value=product.initial_balance
		document.getElementById('id_alpha').value=product.alpha
		document.getElementById('id_beta').value=product.beta
		document.getElementById('id_theta').value=product.theta
		document.getElementById('id_min_cost').value=product.min_cost
		document.getElementById('id_max_cost').value=product.max_cost
	}
	function clear_form(){
		document.getElementById('id_product_name_singular').value=""
		document.getElementById('id_product_name_plural').value=""
		document.getElementById('id_initial_balance').value=""
		document.getElementById('id_alpha').value=""
		document.getElementById('id_beta').value=""
		document.getElementById('id_theta').value=""
		document.getElementById('id_min_cost').value=""
		document.getElementById('id_max_cost').value=""
	}
	
	fill_form(default_markets["scenario_1"])
	
	document.getElementById('market_radio_form').addEventListener('change', function() {
		
		scenario = document.querySelector('input[name="scenario"]:checked').value
		if (scenario=="custom"){
			clear_form()
		}
		else{
			fill_form(default_markets[scenario]);
		}
	}); 

</script>
{% endblock javascript %}