{% extends "market/base.html" %}
{% load static %}
{% block title %}Opret nyt marked{% endblock %}

{% block content %}

<h2 class="mt-5 mb-3">Opret et nyt marked</h2>	

{% for scenario in scenarios %}
	<div class="card mb-3">
		<div class="card-header">Scenarie {{ forloop.counter }}</div>
		<div class="row">
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">{{ scenario.title }}</h5>
					<p class="card-text"> {{ scenario.description }}</p>
					<br>
					<br>	
					<div class="d-flex justify-content-around">
						<button class="btn btn-outline-primary" onclick="show_details({{ forloop.counter0 }})">Se/rediger indstillinger</button>
						<button class="btn btn-primary" type="button" onclick="create_market({{ forloop.counter0 }})">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
								<path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
							</svg>
							Opret marked
						</button> 
					</div>
				</div>  
			</div>
			<div class="col-md-4">
				<img src="{% static 'img/baguettes3.jpg' %}" class="img-fluid rounded-start" alt="image description">
			</div>
		</div>
	</div>
{% endfor %}
<br>

<form action="" id="create_market_form" method="post">{% csrf_token %}
	<input type="hidden" value="" name="scenario_id" id="create_market_scenario_id">
</form>

<form action="{% url 'market:create_market_details' %}" id="show_details_form" method="get">
	<input type="hidden" value="" name="scenario_id" id="show_details_scenario_id">
</form>


{% endblock content %}

{% block javascript %}

<script>
	function create_market(scenario_id){
		document.getElementById('create_market_scenario_id').value = scenario_id
		document.getElementById('create_market_form').submit() 
	}

	function show_details(scenario_id){
		document.getElementById('show_details_scenario_id').value = scenario_id
		document.getElementById('show_details_form').submit()
	}
</script>
{% endblock javascript %}


