{% extends "market/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate 'Title_Home' %}{% endblock %}

{% block content %}

<h2>{% translate 'Greetings' %}</h2>

<br><br>
{% if request.session.trader_id %}
<p style="border: 2px solid black; padding:2em">
{% blocktranslate with market_id=request.session.market_id username=request.session.username %}
You are currently participating in the market
<b>{{ market_id }}</b>
with the trader name
<b>{{ username }}</b>.
{% endblocktranslate %}
<br>
{% translate 'ReturnToMarket1' %}
<a href="{% url 'market:play' %}">{% translate 'ReturnToMarket2' %}</a>
</p>

</span>

{% endif %}

<br><br>
<p>{% translate 'JoinMarketOption' %}:</p>
<form action="{% url 'market:join' %}" method="GET">
    <input type="submit" value="{% translate 'JoinMarket' %}" class="btn btn-primary">
</form>
<br>
<p>{% translate 'CreateMarketOption' %}:</p>
<form action="{% url 'market:create' %}" method="GET">
    <input type="submit" value="{% translate 'CreateMarket' %}" class="btn btn-secondary">
</form>
<br>
<p>{% translate 'RevisitMarketOption' %}:</p>
<form action="{% url 'market:my_markets' %}" method="GET">
    <input type="submit" value="{% translate 'MyMarkets' %}" class="btn btn-warning">
</form>


{% endblock %}
