{% extends "market/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Market simulation{% endblock %}

{% block content %}
<br>
<h2>Welcome to Market Simulator</h2>
    <br><br>
    <form action="{% url 'market:join' %}" method="GET">
        <input type="submit" value="Join Market" class="btn btn-primary">
    </form>
    <br>
    <form action="{% url 'market:create' %}" method="GET">
        <input type="submit" value="Create Market" class="btn btn-secondary">
    </form>
</form>
{% endblock %}
