{% extends "market/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Join{% endblock %}

{% block content %}

<div class="container mt-5" >

	<h4>Choose a name and join a market:</h4>

	<form action="" method="post">{% csrf_token %}
		{{ form|crispy }}
		<input type="submit" value="Join Market" class="btn btn-primary">
	</form>

	<br>
	<br>

	<h5><i>Please Note</i></h5>
	{% if request.session.trader_id %}
		<p>You've already joined the market 
			<b>{{ request.session.market_id }}</b>
			with the username 
			<b>{{ request.session.username }}</b>. 
			If you use the above form, you will loose access to your data from this market... </p>
		
		<p>Go to the market you've already joined? 
			<a href="{% url 'market:play' %}">
				Join {{ request.session.market_id }} 
			</a>
		</p>
	{% endif %}

</div>

{% endblock %}
