{% extends "market/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate 'Join' %}{% endblock %}

{% block content %}

<div class="container">
	<h4 class="mb-3 mb-lg-4 mt-4">{% translate 'Join a market' %}</h4>

	<form class="mb-4" action="" method="post">{% csrf_token %}
		{{ form|crispy }}
		<div class="d-flex justify-content-center">
			<input type="submit" value="{% translate "Join" %}" class="btn btn-primary my-2">
		</div>
	</form>
</div>
{% endblock %}
