{% extends "market/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% translate 'Title_Edit' %}{% endblock %}

{% block content %}

<h2 class="mb-4">
    {% translate 'ChangeMarketParams' %}
</h2>

<p>
    {% translate 'EditParamsBelow' %}<b>{{ market.market_id }}</b><br>
</p>


<form class="mb-5" method="POST" action="{% url 'market:market_edit' market.market_id %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-between">
        <a href="{% url 'market:monitor' market.market_id %}" class="btn btn-primary">Cancel</a>
        <button class="btn btn-warning" type="submit">{% translate 'UpdateParams' %}</button>
    </div>
</form>


{% endblock content %}
