{% extends "market/base.html" %}
{% block title %}Market monitor{% endblock %}
{% block content %}
{% load custom_tags %}

<br>

<h2>
    Monitoring Market: {{ market.market_id }} 
    <a href="{% url 'market:join' %}?market_id={{ market.market_id }}" target="_blank">JOIN</a>
</h2>

<br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>alpha</th>
            <th>beta</th>
            <th>theta</th>
            <th>min prod.cost</th>
            <th>max prod.cost</th>
        </tr>
    </thead>
    <tbody>
            <td>{{ market.alpha }}</td>
            <td>{{ market.beta }}</td>
            <td>{{ market.theta }}</td>
            <td>{{ market.min_cost }}</td>
            <td>{{ market.max_cost }}</td>
        </tr>
    </tbody>
</table>

<br><br>

<h3>Round #{{ market.round }}</h1></h3>

<table class="table table-sm table-striped">
    <thead style="display:none" id="trader_status_thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Ready</th>
            <th scope="col">Balance</th>
            <th scope="col">ProdCost</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for i in max_num_players %}
        <tr style="display:none"  id="table_row{{i}}">
            <th scope="row">{{i|add:1}}</th>  
            <td id="name{{i}}">name{{i}}</td>
            <td id="ready{{i}}">ready{{i}}</td>
            <td id="balance{{i}}">balance{{i}}</td>
            <td id="prod_cost{{i}}">prod_cost{{i}}</td>
            <td id="remove{{i}}"><button class="btn btn-secondary" onclick="alert('feature not implemented yes')">remove</button></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>Traders in market: <span id="num_traders">0</span> (<span id="num_ready_traders">0</span> ready for next round)</p>


<form action="" method="POST" id="finish_round_form">
    {% csrf_token %}
</form>

<!-- Next round button - confirmation required-->
<button type="button" class="btn btn-warning" data-toggle="modal" style="display:none" data-target="#confirmationPopUp"
    id="next_round_btn_warning" disabled>
    Next round
</button>

<!-- Next round button - no confirmation required-->
<button type="button" class="btn btn-success" id="next_round_btn" style="display:none" onclick="next_round()">
    Next round
</button>

<br><br><br>

{% for trader in traders %}
    {% for trade in trader.trade_set.all %}
        {% for name, value in trade.get_fields %}
                {{ name }} => {{ value }}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% for field in fields %}
    <h3>{{ field|field_name_to_label }}</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    {% for round in rounds %}
                    <th scope="col">Round {{ round }}</th>
                    {% endfor %}
                </tr>
            <thead>
            <tbody>
                {% for trader in traders %}
                    <tr>
                        <th scope="row"> {{trader.name }}</th>
                        {% for trade in trader.trade_set.all %}
                        <td>{{ trade.profit}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
        </tbody>
        </table>
    </div>
{% endfor %}


<h3>Profit</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                {% for round in rounds %}
                <th scope="col">Round {{ round }}</th>
                {% endfor %}
            </tr>
        <thead>
        <tbody>
            {% for trader in traders %}
                <tr>
                    <th scope="row"> {{trader.name }}</th>
                    {% for trade in trader.trade_set.all %}
                        <td>{{ trade.profit }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br><br>

<h3>Balance</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                {% for round in rounds %}
                <th scope="col">Round {{ round }}</th>
                {% endfor %}
            </tr>
            <thead>
            <tbody>
                {% for trader in traders %}
                <tr>
                    <th scope="row"> {{trader.name }}</th>
                    {% for trade in trader.trade_set.all %}
                    <td>{{ trade.balance_after }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
    </table>
</div>

<br><br><br>

<h3>Unit Price</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                {% for round in rounds %}
                <th scope="col">Round {{ round }}</th>
                {% endfor %}
            </tr>
            <thead>
            <tbody>
                {% for trader in traders %}
                <tr>
                    <th scope="row"> {{trader.name }}</th>
                    {% for trade in trader.trade_set.all %}
                    <td>{{ trade.unit_price }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                   <tr>
                       <th>Average</th>
                   </tr>
            </tbody>
    </table>
</div>

<br><br><br>

<h3>Unit amount</h3>
<table>
    <tr>
        <th></th>
        {% for round in rounds %}
        <th>Round{{ round }}</th>
        {% endfor %}
    </tr>

    {% for trader in traders %}
    <tr>
        <th> {{trader.name }}</th>
        {% for trade in trader.trade_set.all %}
        <td>{{ trade.unit_amount }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <th>Avg. price</th>
    </tr>
</table><br><br>

<h3>Forced Trades</h3>
<table>
    <tr>
        <th></th>
        {% for round in rounds %}
        <th>Round{{ round }}</th>
        {% endfor %}
    </tr>
    {% for trader in traders %}
    <tr>
        <th> {{trader.name }}</th>
        {% for trade in trader.trade_set.all %}
        <td>{{ trade.was_forced }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <th>Avg. price</th>
    </tr>
</table><br><br>


<button type="button" class="btn btn-primary" id="next_round_btn" onclick="alert('Feature not implemented yet, sorry')">
    Download statistics
</button>

<br>
<!-- Pop-up confirmation -->
<div class="modal fade" id="confirmationPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Next Round</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Not all traders in your market are ready for next round.
                <br><br>
                If you choose to proceed now, these players will enter next round with unchanged balance.
                <br><br>
                Proceed to next round?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    onclick="next_round()">Proceed</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
         
{% block javascript %}
<script>

    function render_table(data){
        document.getElementById("trader_status_thead").style.display = "";
        for (var i = 0; i < data.num_traders; i++){
            document.getElementById('table_row' + i).style.display = "";
            document.getElementById('name' + i).innerHTML = data.traders[i].name;
            if(data.traders[i].ready){
                document.getElementById('ready' + i).innerHTML = "✓";
                document.getElementById('ready' + i).style.color="green";
            }
            else{
                document.getElementById('ready' + i).innerHTML = "No";
                document.getElementById('ready' + i).style.color="red"; 
            }
            document.getElementById('balance' + i).innerHTML = data.traders[i].balance;
            document.getElementById('prod_cost' + i).innerHTML = data.traders[i].prod_cost;
        }
    }

    function update_next_round_btn(data){
        if (data.num_ready_traders > 0){
            if (data.num_ready_traders < data.num_traders){ document.getElementById("next_round_btn_warning").disabled=false;
                document.getElementById("next_round_btn_warning").style.display="block" ;
                document.getElementById("next_round_btn").style.display="none" ; } 
            else{
                document.getElementById("next_round_btn_warning").style.display="none" ;
                document.getElementById("next_round_btn").style.display="block" ; 
            } 
        } 
        else {
            document.getElementById("next_round_btn_warning").style.display="block" ;
            document.getElementById("next_round_btn_warning").disabled=true;
            document.getElementById("next_round_btn").style.display="none";
        }
    }

    function refresh_trader_status(){
        console.log("refresh")
        $.ajax({
            type: 'GET',
            url:"{% url 'market:trader_api' market.market_id %}",
            data: {},
            dataType: 'json',
            success: function (data) {
                document.getElementById("num_traders").innerHTML = data.num_traders;
                document.getElementById("num_ready_traders").innerHTML = data.num_ready_traders;                
                if (data.num_traders > 0){
                    render_table(data)
                }
                update_next_round_btn(data)              
            }       
        });
    }; 
    
    window.setInterval(refresh_trader_status, 1000) 
  
    function next_round(){
        document.getElementById("finish_round_form").submit()
    }   

</script>
{% endblock %}
