{% extends "market/base.html" %}
{% block title %}Oversigt{% endblock %}
{% load custom_tags %}

{% block content %}

<!-- Top colored message -->
{% if market.game_over %}
    <div class="alert alert-info">
        {% if market.check_game_over %}
            Check game over!
            <!-- The game was played to the final round -->
            The game has ended after {{ market.max_rounds }} rounds.
        {% else %}
            <!-- The game ended prematurely (all traders are bankrupt) -->
            The game has ended after {{ market.round }} rounds.
        {% endif %}
    </div>
{% endif %}

<!-- Page heading-->
<h2 class="mb-3 mt-lg-5">{{ market.product_name_singular|title }} Market <span class="text-black-50">[{{ market.market_id }}]</span></h2>      

<!-- Buttons -->
<div class="mb-3">
    {% if not market.game_over %}
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseJoin" role="button" aria-expanded="false" aria-controls="collapseJoin">
        Inviter spillere
    </a>
    {% endif %}
    <a class="btn btn-primary ml-3" data-toggle="collapse" href="#collapseDetails" role="button" aria-expanded="false" aria-controls="collapseDetails">
        Markedets indstillinger
    </a>
</div>


<!-- Join Link Collapse Content-->
<div class="collapse my-1" id="collapseJoin" >
    <div class="card card-body">
        <p class="mb-1">Players can join the market by going to this URL: </p>
        <div class="d-flex">
            <input class="form-control" type="text" 
                value="{% if request.is_secure %}https{% else %}http{% endif %}://{{ request.get_host }}{% url 'market:home' %}?market_id={{ market.market_id }}" id="join_link" style="width:350px">
            <button class="btn btn-primary btn-sm" onclick="copy_join_link()">Kopier</button>
        </div>
    </div>
</div>

<!-- Market Details Collapse Content-->
<div class="collapse my-1" id="collapseDetails">
    <div class="card card-body">
        <p>
            I dette <b>{{ market.product_name_singular}}</b>-market har alle spillere en startsaldo på <b>{{ market.initial_balance }}</b> kr. 
            {% if market.min_cost < market.max_cost %}
                Når spillerne tilslutter sig markedet, tildeles de tilfældigt forskellige produktionsomkostninger pr. enhed, hvilket skaber ulige konkurrencevillår, der giver nogle spillere en fordel. 
                Spillernes produktionsomkostninger ligger mellem <b>{{ market.min_cost }}</b> kr. og <b>{{ market.max_cost }}</b> kr. pr. enhed. 
            {% else %}
                Alle spillere har de samme produktionsomkostninger på <b>{{ market.min_cost}}</b> kr. pr. {{ market.product_name_singular }}, så alle konkurrerer på lige vilkår. 
            {% endif %}
            {% if market.endless %}
                Spillet er indstillet til at være <b>uendeligt</b>, so det kan ikke fortsætte i så mange runder, I har lyst til. 
            {% else %}
                Spillet er indstillet til at stoppe efter <b>{{ market.max_rounds }}</b> runder.
            {% endif %} 
            <br><br>
            Den grundlæggende efterspørgsmål på markedet er sat til <b>{{ market.alpha }}</b>. Dette betyder, at hvis alle spillere sætter prisen til 0 kr., så vil de hver især opleve en efterspørgsmål på 
            <b>{{ market.alpha }}</b> {{ market.product_name_plural }}. <br><br>

            Prisfølsomheden er sat til <b>{{ market.beta }}</b>. Dette betyder, at en spiller vil opleve et fald i efterspørgsel på <b>{{ market.beta }}</b> {{ market.product_name_plural }}, hvis spilleren 
            hæver prisen med 1 kr. pr. {{ market.product_name_singular }} i en situation, hvor markedets gennemsnitspris forbliver uændret. Omvendt vil en spiller opleve en stigning i efterspørgsel på <b>{{ market.beta }}</b> 
            {{ market.product_name_plural }}, hvis spilleren 
            sænker prisen med 1 kr. pr. {{ market.product_name_singular }} i en situation, hvor markedets gennemsnitspris forbliver uændret.
            
            
            <br><br>
            Konkurrenceforholdet er sat til <b>{{ market.theta }}</b>. Dette betyder, at en spiller vil opleve en stigning på <b>{{ market.theta }}</b> {{ market.product_name_plural }}, hvis 
            spillerens pris forbliver uændret i en situation, hvor markedets gennemsnitspris stiger med 1 kr pr. {{ market.product_name_singular }}. Omvendt vil en spiller opleve et fald på <b>{{ market.theta }}</b> {{ market.product_name_plural }}, hvis spillerens
            pris forbliver uændret i en situation, hvor markedets gennemsnitspris falder med 1 kr {{ market.product_name_singular }}.
        </p>
        {% if request.user == market.created_by %}
            <a href="{% url 'market:market_edit' market.market_id %}">Rediger detaljer</a> 
        {% endif %}
    </div>
</div>

<!-- Trader Status -->
<h4 class="mt-5">
    {% if market.game_over %}
    Scoreboard
    {% else %}
    Trader Status
    {% endif %}
    <span class="text-black-50">
        {% if market.game_over %}
            [Game is over]
        {% else %}
            {% if market.endless %}
                [Round {{ market.round|add:1 }}]
            {% else %}
                [Round {{ market.round|add:1 }} / {{ market.max_rounds }}]
            {% endif %}
        {% endif %}
    </span>
</h4> 

<div id="trader_table" class="mb-3">
    {% include 'market/trader-table.html' %}
</div>

{% if not market.game_over %}
    <!-- Next round form and next round pop-up confirmation -->
    <form action="{% url 'market:finish_round' market.market_id %}" method="POST" id="finish_round_form">
            {% csrf_token %}
    </form>
  
    <div class="modal fade" id="nextRoundConfirmationPopUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bekræft næste runde</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Det er ikke alle spillere, som er klar til næste runde. Hvis du vælger at fortætte nu, så vil disse spillere 
                    gå til næste runde uden at have handlet og med uændret saldo. 
                    Ønsker du at fortsætte til næste runde?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fortryd</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        onclick="next_round()">Fortsæt</button>
                </div>
            </div>
        </div>
    </div>

  
    <!-- Remove trader form and pop-up confirmation -->
    <form action="{% url 'market:remove_trader_from_market' %}" method="POST" id="remove_trader_form">
        {% csrf_token %}
        <input type="hidden" id="remove_trader_id" name="remove_trader_id" value="">
    </form>

    <div class="modal fade" id="removeTraderConfirmationPopUp" tabindex="-1" role="dialog" aria-labelledby="removeTraderModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeTraderModalLabel">Fjern spiller</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="remove-trader-modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fortryd</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        onclick="document.getElementById('remove_trader_form').submit()">
                        Fortsæt
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Update trader status table every x seconds. Will only trigger next round when given criteria are met -->
  
    <div 
        hx-get="{% url 'market:trader_table' market.market_id %}"
        hx-trigger="every 1s"
        hx-target="#trader_table">
    </div>

    {% if market.round > 0 %}
        <!-- Autoplay on/off -->
        {% if market.monitor_auto_pilot %}
            <p class="text-muted text-center"><small>Round will finish automatically when all traders are ready</small></p>
        {% endif %}

        <div class="d-flex justify-content-center">
            <button type="button" id="toggle_auto_finish_btn" class="btn btn-outline-secondary" onclick="toggle_monitor_auto_pilot()" 
            data-toggle="tooltip"
                {% if market.monitor_auto_pilot %}
                    >
                {% else %}
                    title="Finish each round automatically when all traders are ready">
                {% endif %}
                {% if market.monitor_auto_pilot %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pause-btn" viewBox="0 0 16 16">
                        <path d="M6.25 5C5.56 5 5 5.56 5 6.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C7.5 5.56 6.94 5 6.25 5zm3.5 0c-.69 0-1.25.56-1.25 1.25v3.5a1.25 1.25 0 1 0 2.5 0v-3.5C11 5.56 10.44 5 9.75 5z"/>
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                    </svg>
                Pause Game
                {% else %}

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
                        <path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                    </svg>
                    Start Auto Pilot
                {% endif %}

            </button>
        </div>
        <br>
        <form action="{% url 'market:toggle_monitor_auto_pilot_setting' market.market_id %}" method="POST" id="toggle_auto_pilot_form">
            {% csrf_token %}
        </form>

        <script>
            // Should round be finished automatically when all traders are ready?
            function toggle_monitor_auto_pilot(){
                document.getElementById('toggle_auto_pilot_form').submit()
            }
        </script>

    {% endif %}
{% endif %}


<div id="accordion" class="mt-5">
    <div class="card">
        <div class="card-header" id="heading_balance">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_balance" aria-expanded="true" aria-controls="collapse_balance">
                    Balance history
                </button>
            </h5>
        </div>
        <div id="collapse_balance" class="collapse show" aria-labelledby="heading_balance">
            <div class="card-body">  
                <div>
                    <canvas id="balanceCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading_price">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_price" aria-expanded="true" aria-controls="collapse_price">
                    Price history
                </button>
            </h5>
        </div>
        <div id="collapse_price" class="collapse show" aria-labelledby="heading_price">
            <div class="card-body">
                <div>
                    <canvas id="priceCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
     <div class="card">
        <div class="card-header" id="heading_amount">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_amount" aria-expanded="true" aria-controls="collapse_amount">
                    Production history 
                </button>
            </h5>
        </div>
        <div id="collapse_amount" class="collapse show" aria-labelledby="heading_amount">
            <div class="card-body">
                <div>
                    <canvas id="amountCanvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

{% comment %} 
<h4>Tabular Data</h4>
<div id="accordion">
    {% for field in show_stats_fields %}
    <div class="card">
        <div class="card-header" id="heading_{{ field }}">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{ field }}" aria-expanded="true" aria-controls="collapse_{{ field }}">
                {{ field|field_name_to_label }}
                </button>
            </h5>
        </div>
        <div id="collapse_{{ field }}" class="collapse" aria-labelledby="heading_{{ field }}" data-parent="#accordion">
            <div class="card-body">
                {% if traders %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for round in rounds %}
                                        <th>{{ round }}</th>
                                    {% endfor %}
                                    
                                    <!-- For balances we need an extra column -->
                                    {% if field == 'balance_before' %}
                                        {% if market.game_over %}
                                            <th>Final</th>
                                        {% else %}
                                            <th>{{ market.round|add:1 }}</th>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            <thead>
                            <tbody>
                                {% for trader in traders %}
                                    <tr>
                                        <!-- queries could be optimized here -->
                                        <td scope="row"> {{trader.name }}</td>
                                        {% for trade in trader.trade_set.all %}
                                            {% if trade.round < market.round %}
                                                <td>{{ trade|get_attribute:field }}</td>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if field == 'balance_before' %}
                                            <td>{{ trader.trade_set.last|get_attribute:'balance_after' }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        </div>
                        {% else %}
                    <p class="text-muted">No data to show yet.</p>
                {% endif %}
                </div>
                </div>
                </div>
                {% endfor %}
                </div>
                <br><br> {% endcomment %}

                {% comment %} <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mb-5" id="next_round_btn"
                        onclick="alert('Feature not implemented yet, sorry')">
        Download Data
    </button>
</div> {% endcomment %}

{% endblock %}

{% block javascript %}

<script>
    function next_round() {
        document.getElementById("finish_round_form").submit();
    }

    function prepare_remove_trader(trader_id, trader_name){
        document.getElementById('remove_trader_id').value = trader_id;          
        document.getElementById('remove-trader-modal-body').innerHTML = `You are about to permanently remove the trader <b>${trader_name}</b> from the market. Are you sure you want to proceed?` 
        $('#removeTraderConfirmationPopUp').modal('show'); 
    }
</script>

<script>
    function copy_join_link() {
        // From w3schools
        var link_text = document.getElementById("join_link");
        link_text.select();
        link_text.setSelectionRange(0, link_text.value.length);
        document.execCommand("copy")
    }
</script>

<!-- import Chart.js library-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart settings -->
<script>
 
    // Global settings for charts on this page
    Chart.defaults.plugins.title.display = true;
    Chart.defaults.plugins.title.padding = {top:5, bottom:10};
    Chart.defaults.scales.linear.beginAtZero = true; // y axes is forced to include 0
    Chart.defaults.animation.duration = 0; // don't show graph animations
    
    function responsive_aspectRatio(){
        // Set x-axis height relative to y-axis
        if (window.innerWidth < 600){
            return 1.3 
        }
        else{ 
            return 2 
        } 
    } 
        
    function reponsive_display_y_axis_title(){ 
        // Only show y-axis legend on big enough screens 
        if (window.innerWidth < 600) { 
            return false 
            } 
        else{
            return true
        }
    }

    function format_amount_labels(value, index, values){
        // Default format of 5000 on axis is 5,000. 
        // Here we change this to 5000.00
        return value.toFixed(2) 
    }

    // Balance chart 
    balance_labels = JSON.parse("{{ round_labels_json }}") // labels on x-axis
    
    {% if not market.endless %}
        balance_labels.unshift("Start")
    {% endif %}

    var balanceChart = new Chart(document.getElementById('balanceCanvas'), {
        type: 'line',
        data: {
            labels : balance_labels,
            datasets: {{ balanceDataSet|safe }}
        },
        options: {
            aspectRatio: responsive_aspectRatio(),
            scales: {
                y: {
                    title:{ 
                        text: 'Saldo (kr.)',
                        display: reponsive_display_y_axis_title()
                    },
                    ticks: {
                        callback: format_amount_labels
                    },
                    suggestedMax: parseInt("{{ market.initial_balance }}"),
                },
                x: {
                    title:{ 
                        text: 'Runde',
                        display: true
                    }
                },            
            },  
            plugins: {
                title: {
                    display: false,
                    text: "Saldo",
                }
            }
        }     
    });

    // Price chart
    var priceChart = new Chart(document.getElementById('priceCanvas'),{
        type: 'line',
        data: {
            labels: JSON.parse("{{ round_labels_json }}"), // labels on x-axis
            datasets: {{ priceDataSet|safe }}
        },
        options: {
            aspectRatio: responsive_aspectRatio(),
            scales: {
                y: {
                    title:{ 
                        text: 'Pris pr. enhed (kr.)',
                        display: reponsive_display_y_axis_title()
                    },
                    ticks: {
                        callback: format_amount_labels
                    },
                    suggestedMax: 2*parseInt("{{ market.max_cost }}"),
                },
                x: {
                    title:{
                        text: 'Round',
                        display: true
                    }
                },         
            },  
            plugins: {
                title: {
                    display: false,
                    text: "Enhedspris",
                }
            }
        }     
    });


    // Amount Chart
    var amountChart = new Chart(document.getElementById('amountCanvas'), {
        type: 'line',
        data: {
            labels: JSON.parse("{{ round_labels_json }}"), // labels on x-axis
            datasets: {{ amountDataSet|safe }}
        },
        options:{
            aspectRatio: responsive_aspectRatio(),
            scales: {
                y: {
                    title:{ 
                        text: 'Antal enheder',
                        display: reponsive_display_y_axis_title()
                    },
                    suggestedMax: 100,

                },
                x: {
                    title:{ 
                        text: 'Runde',
                        display: true
                    }
                },         
            },  
            plugins: {
                title: {
                    display: false,
                    text: "Antal enheder produceret",
                }
            }
        }
    });
    

</script>

{% endblock %}
