{% extends "market/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Trade{% endblock %}

{% block content %}
<div class="container mt-4">

<div>
    <p>
        <b>Trader name:</b> {{ trader.name }} <br> 
        <b>Market:</b> {{ market.market_id }} <br>
        <b>Round:</b> {{ market.round }} <br> 
        <b>Your fixed production costs per unit :</b> {{ trader.prod_cost }} per unit <br>
        <b>Your current balance:</b> {{ trader.balance }} <br>  
        <p>
</div>
<br><br>

<form action="{% url 'market:play' %}" method="post">{% csrf_token %}
    {{ form|crispy }}    
    <input type="submit" value="Ready" class="btn btn-outline-primary">
</form>

<br><br><br>
</div>

{% endblock %}

{% block javascript %}

<script>
    var labels = document.getElementsByTagName('label');
    price_label = labels[0]
    amount_label = labels[1]
    
    var price_slider = document.getElementById("id_unit_price");
    var amount_slider = document.getElementById("id_unit_amount");

    price_slider.oninput = function () {
        price_label.innerHTML = "Price: " + price_slider.value;
    }
    amount_slider.oninput = function () {
        amount_label.innerHTML = "Amount: " + amount_slider.value;
    }
</script>

{% endblock %}
