{% extends "market/base.html" %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load i18n %}

{% block title %}{% translate 'Play' %}{% endblock %}
{% block content %}
    <div class="mt-lg-4"></div>
    <p class="pr-2 pl-2 py-3">
        {% if market.round > 0 and not wait and not trades.last.was_forced %}
            <!-- Text with info about last round choices and results.  -->
            {% blocktranslate with name=trader.name lastRoundUnits=trades.last.unit_amount lastRoundSold=trades.last.units_sold unitsPlural=market.product_name_plural lastRoundDemand=trades.last.demand lastRoundPrice=trades.last.unit_price lastRoundAvgPrice=round_stats.all.last.avg_price %}
                Hi {{ name }}.<br class="hide-when-small"><br class="hide-when-small"> Last round you produced <b>{{ lastRoundUnits }}</b> and sold
                <b>{{ lastRoundSold }}</b>
                {{ unitsPlural }}. The demand was <b>{{ lastRoundDemand }}</b>. Your price was
                <b>{{ lastRoundPrice }} </b>kr. and the market
                average price was <b>{{ lastRoundAvgPrice }}</b> kr.
            {% endblocktranslate %}
            <br class="hide-when-small"><br class="hide-when-small">
                Your profit was
            {% if trades.last.profit < 0 %}<b style="color:red">{% else %} <b style="color:green">{% endif %}{{ trades.last.profit }}</b> kr.
        {% endif %}
        
        {% if trades.last.was_forced %}
            {% translate "You didn't make a trade last round." %} 
        {% endif %}

        {% if wait %}
            Hi {{ trader.name }}.<br class="hide-when-small"><br class="hide-when-small"> You decided to produce <b>{{ trades.last.unit_amount }}</b>  
            {{ market.product_name_plural }} and to sell them for <b>{{  trades.last.unit_price }}</b> kr. each</b>. 
            
            {% comment %} 
            Suggested translation:
            Du valgte at producere <b>{{ trades.last.unit_amount }}</b>  
            {{ market.product_name_plural }}, som du vil sælge for <b>{{  trades.last.unit_price }}</b> kr. pr. styk.</b>.  
            {% endcomment %}

            <br><br>
            <i>Now wait for the host to finish round {{ market.round|add:1 }}.</i>
                   
        {% else %}
        {% blocktranslate with balance=trader.balance %}
            Your current balance is <b style="color:green">{{ balance }}</b> kr.
        {% endblocktranslate %} 
        
        {% endif %}
    </p>

<div class="mt-lg-4"></div>

{% if not wait and not market.game_over %}
    <div class="card mb-4">
        <div class="card-header">
         {% translate 'Make your next trade' %}
        </div>
        <div class="card-body">
            <form action="{% url 'market:play' market.market_id %}" method="post" class="mb-4" id='trade_form'>
                {% csrf_token %}
                {{ form|crispy }}
            </form>
            <div class="d-flex justify-content-center mt-4 mb-4">
                <input type="submit" value="{% translate 'Make Trade!' %}" class="btn btn-outline-primary" form="trade_form">
            </div>

            <div class="d-flex justify-content-center">
                <ul class="text-secondary">
                    <li>
                        {% translate 'Total prod. cost' %}: <span id="total_prod_cost_formula"></span><b id="total_prod_cost"></b>
                    </li>
                    <li>
                        {% translate 'Balance after production' %}: <span id="balance_after_production_formula"></span><b id="balance_after_production"></b>
                    </li>
                    <li>
                        {% translate 'Income if all units are sold' %}: <span id="income_best_case_formula"></span><b id="income_best_case"></b>
                    </li>
                    <li>
                        {% translate 'Profit if all units are sold' %}: <span id="profit_best_case_formula"></span> <b id="profit_best_case"></b>
                    </li>
                    <li>{% translate 'Profit if no units are sold' %}: <span id="profit_worst_case_formula"></span><b id="profit_worst_case"></b>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endif %}

<div class="accordion mb-5" id="accordionCharts">
    {% if market.game_over %}
    <!-- ScoreBoard -->
    <div class="card" class="mb-2">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed m-0" type="button" data-toggle="collapse"
                    data-target="#collapseScoreBoard" aria-expanded="false" aria-controls="collapseFour">
                        {% translate 'Final Scoreboard' %}
                </button>
            </h2>
        </div>
        <div id="collapseScoreBoard" class="collapse show" aria-labelledby="headingThree">
            <div class="card-body px-2 px-sm-5 pt-0 mt-0" id="card_body">
                {% include 'market/small-trader-table.html' %}
            </div>
        </div>
    </div>
    {% endif%}

    <!-- Balance chart-->
    {% comment %} <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseBalance" aria-expanded="false" aria-controls="collapseThree">
                    {% translate 'Balance history' %}
                </button>
            </h2>
        </div>

        <div id="collapseBalance" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCharts">
            <div class="card-body">
                <canvas id="balanceCanvas"></canvas>
            </div>
        </div>
    </div> {% endcomment %}

    <!-- Price chart-->
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                    data-target="#collapsePrice" aria-expanded="false" aria-controls="collapseOne">
                    {% translate 'Price history' %}
                </button>
            </h2>
        </div>

        <div id="collapsePrice" class="collapse show" aria-labelledby="headingOne">
            <div class="card-body">
                <canvas id="priceCanvas"></canvas>
            </div>
        </div>
    </div>

    <!-- Units chart-->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseProduction" aria-expanded="true" aria-controls="collapseTwo">
                    {% translate 'Production history' %}
                </button>
            </h2>
        </div>
        <div id="collapseProduction" class="collapse show" aria-labelledby="headingTwo">
            <div class="card-body">
                <!-- to make canvas shown by default add .show to the dive above -->
                <canvas id="unitsCanvas"></canvas>
            </div>
        </div>
    </div>

</div>

<div 
    hx-get="{% url 'market:small_trader_table' market.market_id %}"
    hx-trigger="every 2s"
    hx-swap ="innerHTML"
    hx-target="#card_body">
</div>  


{% endblock content %}

{% block javascript %}

{% if not wait %}
<script>

    var labels = document.getElementsByTagName('label');    
    var price_label = labels[0]
    var amount_label = labels[1]
    
    var amount_slider = document.getElementById("id_unit_amount");
    var price_slider = document.getElementById("id_unit_price");
    var balance = parseFloat("{{ trader.balance }}".replace(',', '.'))
    var unit_prod_cost = parseFloat("{{ trader.prod_cost }}".replace(',', '.'))
    var total_cost = document.getElementById('total_cost');
    var income_best_case = document.getElementById('income_best_case');
    var balance_after_production = document.getElementById('balance_after_production');
    var profit_best_case = document.getElementById('profit_best_case')
    var profit_worst_case = document.getElementById('profit_worst_case')

    // only show calculations when screen width is bigger than this number
    const show_formula_breakpoint = 490;

  function set_price_label(){
      price = parseFloat(price_slider.value).toFixed(2)
	  price_label.innerHTML = "{% translate 'Price (kr.)' %}: " + price;
    }
    
  function set_amount_label(){
	  amount_label.innerHTML = "{% translate 'Amount' %}: " + amount_slider.value;
        //amount_label.innerHTML = "Amount: " + amount_slider.value;
    }
    
    function set_total_cost(){
        amount = amount_slider.value; 
        total_prod_cost.innerHTML = (amount * unit_prod_cost).toFixed(2);
        if ($(window).width() > show_formula_breakpoint) {
            formula = document.getElementById('total_prod_cost_formula')
            formula.innerHTML = `${amount} * ${unit_prod_cost.toFixed(2)} = `;
        } 
    }
    
    function set_potential_income(){
        amount = amount_slider.value;
        price = parseFloat(price_slider.value);
        income_best_case.innerHTML = (amount*price).toFixed(2);
        
        if ($(window).width() > show_formula_breakpoint) { 
            formula = document.getElementById('income_best_case_formula')
            formula.innerHTML = `${amount} * ${price.toFixed(2)} = `; 
        }
    }

    function set_balance_after_production(){
        amount = amount_slider.value;
        costs = amount * unit_prod_cost;
        balance_after_production.innerHTML = (balance - costs).toFixed(2);

        if ($(window).width() > show_formula_breakpoint) { 
            formula = document.getElementById('balance_after_production_formula')
            formula.innerHTML = `${balance.toFixed(2)} - ${costs.toFixed(2)} = `;
        } 
    }
 
    function set_potential_profit(){
        amount = amount_slider.value;
        price = price_slider.value;
        expences = amount*unit_prod_cost;
        best_case_income = amount*price;
        best_case_profit = best_case_income - expences
        worst_case_profit = - expences

        if (best_case_profit < 0){
            profit_best_case.style.color = 'red'
        } else{
            profit_best_case.style.color = 'green'
        }
        
        if (worst_case_profit < 0){
            profit_worst_case.style.color='red'
        } else{
            profit_worst_case.style.color = 'green'
        }
        profit_best_case.innerHTML = best_case_profit.toFixed(2);
        profit_worst_case.innerHTML = (-expences).toFixed(2);

        if ($(window).width() > show_formula_breakpoint) { 
            document.getElementById('profit_best_case_formula').innerHTML = `${best_case_income.toFixed(2)} - ${expences.toFixed(2)} = `;
            document.getElementById('profit_worst_case_formula').innerHTML = `0.00 - ${expences.toFixed(2)} = `;
        }     
    }

    set_price_label();
    set_amount_label();
    set_total_cost(); 
    set_potential_income()
    set_balance_after_production()
    set_potential_profit()

    price_slider.oninput = function () {
        set_price_label();
        set_potential_income();
        set_balance_after_production()
        set_potential_profit();
    }

    amount_slider.oninput = function () {
        set_amount_label();
        set_total_cost();
        set_potential_income();
        set_balance_after_production()
        set_potential_profit();
    }
    
</script>
{% endif %}

{% if wait %}
<script>
    round_num = parseInt("{{ market.round }}");
    market_id = "{{ market.market_id }}";
    function check_for_next_round() {
        $.ajax({
            type: 'GET',
            url: "{% url 'market:current_round' market.market_id %}",
            data: {
                    'market_id': market_id
            },
            dataType: 'json',
            success: function (data) {
                if (data.round > round_num) {
                    window.location.href = "{% url 'market:play' market.market_id %}"
                }
            }
        });
    }

    window.setInterval(check_for_next_round, 1000);
</script>
{% endif %}


<!-- import Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart settings -->
<script>

    // Global settings for charts on this page
    Chart.defaults.plugins.title.display = false;
    Chart.defaults.plugins.title.padding = {top:5, bottom:10};
    Chart.defaults.scales.linear.beginAtZero = true; // y axes is forced to include 0    
    Chart.defaults.animation.duration = 0; // don't show graph animations

    // Colors to be used in charts
    const traderColor = 'rgb(75, 192, 192, 0.6)' 
    const secondColor = 'rgb(0, 153, 255, 0.6)'
    const thirdColor = 'rgb(255, 153, 0, 0.6)'

    function responsive_aspectRatio(){
        // Set x-axis height relative to y-axis
        if (window.innerWidth < 600) {
            return 1.3
        }
        else{
            return 2
        }
    }
    function reponsive_display_y_axis_title(){
        // Only show y-axis legend on big enough screens
        if (window.innerWidth < 1000) {
            return false
        }
        else{
            return true
        }
    }

    function format_amount_labels(value, index, values){
        // Default format of 5000 on axis is 5,000. 
        // Here we change this to 5000.00
        return value.toFixed(2) 
    }
    
    // Balance chart 
    {% comment %} 
    var traderBalanceDataSet = {
        label: "Your balance",
        data: JSON.parse("{{ trader_balance_json }}"),
        lineTension: 0,
        borderColor: traderColor,
    };

    var averageBalanceDataSet = {
        label: "{% translate 'Market average balance' %}",
        data: JSON.parse("{{ avg_balance_json }}"),
        lineTension: 0,
        borderColor: secondColor,
    };
    
    balance_labels = JSON.parse("{{ round_labels_json }}") // labels on x-axis
    balance_labels.push('Final')

    var lineChart = new Chart(document.getElementById('balanceCanvas'), {
            type: 'line',
            data: {
                labels: balance_labels,
                datasets: [traderBalanceDataSet, averageBalanceDataSet]
            },
            options:{
                aspectRatio: responsive_aspectRatio(),
                scales: {
                    y: {
                        title:{ 
                            text: 'Balance (kr.)',
                            display: reponsive_display_y_axis_title()
                        },
                        ticks: {
                            callback: format_amount_labels
                        },
                        suggestedMax: parseInt("{{ market.initial_balance }}"),
                    },
                    x: {
                        title:{ 
                            text: 'Round',
                            display: 'true'
                        }
                    },            
                },  
                plugins: {
                    title: {
                        display: false,
                        text: "{% translate 'Balance' %}",
                    }
                }, 
                 
            }
        }     
    ); {% endcomment %}

    // Price chart
    var dataYourPrice = {
        label: "{% translate 'Your price' %}",
        data: JSON.parse("{{ data_price_json }}"),
        lineTension: 0,
        borderColor: traderColor,
    };

    var dataMarketAvgPrice = {
        label: "{% translate 'Market average price' %}",
        data: JSON.parse("{{ data_market_avg_price_json }}"),
        borderColor: secondColor,
    };

    var dataProdCost = {
        label: "{% translate 'Your unit cost' %}",
        data: JSON.parse("{{ data_prod_cost_json }}"),
        borderColor: thirdColor,
    };

    var lineChart = new Chart(priceCanvas = document.getElementById('priceCanvas'),{
        type: 'line',
        data: {
            labels: JSON.parse("{{ round_labels_json }}"), // labels on x-axis
            datasets: [dataYourPrice, dataMarketAvgPrice, dataProdCost]
        },
        options: {
            aspectRatio: responsive_aspectRatio(),
            scales: {
                y: {
                    title:{ 
                        text: 'Cost and price (kr.)',
                        display: reponsive_display_y_axis_title()
                    },
                    ticks: {
                        callback: format_amount_labels
                    },
                    suggestedMax: 2*parseInt("{{ market.max_cost }}"),
                },
                x: {
                    title:{ 
                        text: 'Round',
                        display: 'true'
                    }
                },         
            },  
            plugins: {
                title: {
                    display: false,
                    text: "{% translate 'Price history' %}",
                },
            }
        }
    });

    // Units chart 
    var dataDemand = {
        label: "{% translate 'Demand' %}",
        data: JSON.parse("{{ data_demand_json }}"),
        lineTension: 0,
        borderColor: traderColor,
    };

    var dataSold = {
        label: "{% translate 'Sold' %}",
        data: JSON.parse("{{ data_sold_json }}"),
        borderColor: secondColor,
    };

    var dataProduced = {
        label: "{% translate 'Produced' %}",
        data: JSON.parse("{{ data_produced_json }}"),
        borderColor: thirdColor,
    };

    var lineChart = new Chart(document.getElementById('unitsCanvas'), {
        type: 'line',
        data: {
            labels: JSON.parse("{{ round_labels_json }}"), // labels on x-axis
            datasets: [dataDemand, dataSold, dataProduced] 
        },
        options: {
            aspectRatio: responsive_aspectRatio(),
            scales: {
                y: {
                    title:{ 
                        text: 'Number of units',
                        display: reponsive_display_y_axis_title()
                    },    
                    suggestedMax: 100,
                },
                x: {
                    title:{
                        text: 'Round',
                        display: 'true'
                    }
                },         
            },  
            plugins: {
                title: {
                    display: false,
                    text: "{% translate 'Production history' %}",
                },
            },
        }
    });
</script>

{% endblock javascript%}
