{% load i18n %}
<table class="table table-sm table-striped" >
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% translate 'Trader name' %}</th>
            <th scope="col">{% translate 'Balance' %}</th>
        </tr>
    </thead>

    <div class="mb-5">
        {% for trader in traders %}
        <tr>
            <td scope="row">{{ forloop.counter }}</td>
            <td>{{ trader.name }}</td>
            <td>{{ trader.balance }}</td>
        </tr>
        {% endfor %}
    </div>
</table>