{% load i18n %}

    {% if traders|length == 0 %}
        <i>
            {% translate 'Waiting for the first trader to join the market...' %}
        </i>
    {% else %}
    <p>All traders on the market, ordered by their currrent balance.</p>
    <div class="table-responsive">
        <table class="table table-striped mb-4" id="trader_status_table"> 

            <thead id="trader_status_thead">
                <!-- Since allow traders to visit the monitor page when game is over & since we assume they use small screen devices
                    we have to make the table reponsive in different ways
                -->
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{% translate 'Name' %}</th>
                    {% if not market.game_over %}
                        <th class="d-none d-md-block" scope="col">{% translate 'Ready for next round' %}</th>
                        <th class="d-md-none" scope="col">{% translate 'Ready' %}</th>
                    {% endif %}
                        <th scope="col">{% translate 'Cost/unit' %}</th>
                    <th scope="col">{% translate 'Balance' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for trader in traders %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ trader.name }}</td>
                    {% if not market.game_over%}
                    {% if trader.is_ready %}
                        <td style="color:green">✓</td>
                    {% else %}
                    <td style="color:red">No</td>
                    {% endif %}
                    {% endif %}
                    <td>{{ trader.prod_cost }}</td>
                    <td>{{ trader.balance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if not market.game_over %}
        <!-- The Finish Round button -->
        <div class="d-flex justify-content-center">
            {% if num_ready_traders == 0 %}
                <button type="button" class="btn btn-warning" disabled>
                    {% comment %} {% translate 'Finish Round' %} {% endcomment %}
                    Finish Round {{ market.round|add:1 }}
                </button>
            {% else %}
                {% if num_ready_traders < traders|length %}       
                    <!-- not all traders are ready, so show a submit button with pop-up confirmation -->   
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#confirmationPopUp">
                        {% comment %} {% translate 'Finish Round' %} {% endcomment %}
                        Finish Round {{ market.round|add:1 }}
                    </button>
                
                {% else %}
                    <!-- all traders area ready so show a submit button with no confirmation required -->
                    <button type="button" class="btn btn-primary" onclick="next_round()">
                        {% comment %} {% translate 'Finish Round' %} {% endcomment %}
                        Finish Round {{ market.round|add:1 }}
                    </button>
                    {% if market.round > 0 and market.monitor_auto_pilot%}
                        <script> 
                            next_round()
                        </script>
                    {% endif %}
                {% endif %}

            {% endif %}
        </div>
    {% endif %}

{% endif %}

{% if not market.game_over %}
    <!-- hidden form and a script to post it -->
    <form action="{% url 'market:monitor' market.market_id %}" method="POST" id="finish_round_form">
        {% csrf_token %}
    </form>
    <script>
        function next_round() {
            document.getElementById("finish_round_form").submit();
        }
    </script>
{% endif %}