{% if traders|length == 0 %}
    <i>
        Waiting for the first player to join the market ... 
    </i>

{% else %}
    <table class="table table-sm table-striped">
        <thead id="trader_status_thead">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Ready</th>
                <th scope="col">Prod Cost</th>
                <th scope="col">Current Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for trader in traders %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ trader.name }}</td>
                {% if trader.is_ready %}
                    <td style="color:green">✓</td>
                {% else %}
                <td style="color:red">No</td>
                {% endif %}
                    <td>{{ trader.prod_cost }}</td>
                    <td>{{ trader.balance }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	{% if market.game_over %}
        {% if num_ready_traders == 0 %}
            <button type="button" class="btn btn-primary" disabled>
                Finish Round
            </button>
        {% else %}
            {% if num_ready_traders < traders|length %}       
                <!-- not all traders are ready, so show a submit button with pop-up confirmation -->   
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationPopUp">
                    Finish Round
                </button>
             
            {% else %}
                <!-- all traders area ready so show a submit button with no confirmation required -->
                <button type="button" class="btn btn-success" onclick="next_round()">
                    Finish Round
                </button>
            {% endif %}
        {% endif %}
	{% endif %}
    <form action="{% url 'market:monitor' market.market_id %}" method="POST" id="finish_round_form">
        {% csrf_token %}
    </form>

    <script>
        function next_round() {
            console.log("next round")
            document.getElementById("finish_round_form").submit();
        }
    </script>
{% endif %}
