{% load i18n %}
{% load custom_tags %}

{% if wait %}
<i> 
    {% if market.num_active_traders == 1 %}
        You are currently the only trader on the market. 
    {% else %}
        {% if market.num_active_traders == market.num_ready_traders %}
            All traders have made their decisions, and we are currently                  
            waiting for the host to finish the round...
        {% else %}  
            We are currently waiting for <b>{{ market.num_active_traders|subtract:market.num_ready_traders}}</b> 
            of the <b>{{ market.num_active_traders }}</b> traders on the market to make their decisions...</i>                  
        {% endif %}
    {% endif %}
</i>
{% endif %}

<script>
    updated_round_num = parseInt("{{ market.round }}")
    console.log("updated_round_run", updated_round_num)

    check_for_next_round(updated_round_num)
</script>
