{% if traders|length == 0 %}
    <i>
        Waiting for the first player to join the market ... 
    </i>

{% else %}
    <table class="table table-sm table-striped" id="trader_status_table">
        <thead id="trader_status_thead">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Ready</th>
                <th scope="col">Prod Cost</th>
                <th scope="col">Current Balance</th>
            </tr>
        </thead>
        <tbody>
            {% for trader in traders %}
            <tr>
                <th scope="row" id="player_{{ forloop.counter }}">{{ forloop.counter }}</th>
                <td>{{ trader.name }}</td>
                {% if trader.is_ready %}
                    <td style="color:green">✓</td>
                {% else %}
                <td style="color:red">No</td>
                {% endif %}
                    <td>{{ trader.prod_cost }}</td>
                    <td>{{ trader.balance }}</td>
            </tr>
            {% endfor %}
        </tbody>

        <script>
          function swap_rows(r1, r2) {
              for (var i = 1; i < r1.cells.length; i++) {
                  var tmp = r1.cells[i].innerHTML;
                  r1.cells[i].innerHTML = r2.cells[i].innerHTML;
                  r2.cells[i].innerHTML = tmp;
              }
          }
          var BALANCE = 4;
          var table = document.getElementById("trader_status_table");
          for (var i = 0; i < table.rows.length; i++) {
              for (var j = i; j > 0; j--) {
                  var j_balance = parseInt(table.rows[j].cells[BALANCE].innerHTML);
                  var prev_balance = parseInt(table.rows[j-1].cells[BALANCE].innerHTML);
                  if (j_balance > prev_balance) {
                      console.log(j_balance, prev_balance);
                      swap_rows(table.rows[j],table.rows[j-1]);
                  } else {
                      break;
                  }
              }
          }
        </script>
    </table>
    {% if num_ready_traders == 0 %}
        <button type="button" class="btn btn-primary" disabled>
            Finish Round
        </button>
    {% else %}
        {% if num_ready_traders < traders|length %}       
            <!-- not all traders are ready, so show a submit button with pop-up confirmation -->   
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationPopUp">
                Finish Round
            </button>
         
        {% else %}
            <!-- all traders area ready so show a submit button with no confirmation required -->
            <button type="button" class="btn btn-success" onclick="next_round()">
                Finish Round
            </button>
        {% endif %}
    {% endif %}

    <form action="{% url 'market:monitor' market.market_id %}" method="POST" id="finish_round_form">
        {% csrf_token %}
    </form>

    <script>
        function next_round() {
            console.log("next round")
            document.getElementById("finish_round_form").submit();
        }
    </script>
{% endif %}
