{% extends "market/base.html" %}

{% block title %}Wait{% endblock %}

{% block content %}

<br>
<h3>Waiting for {{ market.market_id}} ...</h3>
<p>Trader name: {{ trader.name }} </p>
<p>Round: {{ market.round }} </p>

{% endblock %}

{% block javascript %}    

<script>
    round_num = parseInt("{{ market.round }}");
    market_id = "{{ market.market_id }}";
    function check_for_next_round() {
        $.ajax({
            type: 'GET',
            url: "{% url 'market:current_round' market.market_id %}",
            data: {
                    'market_id': market_id
            },
            dataType: 'json',
            success: function (data) {
                console.log(data, data.round, round_num);
                if (data.round > round_num) {
                        window.location.href = "{% url 'market:play' %}"
                }
            }
        });
    }
    window.setInterval(check_for_next_round, 1000);
</script>

{% endblock %}
