{% if market.active_or_bankrupt_traders|length == 0 %}
    <i>
        Venter på at den første spiller tilslutter sig markedet... 
    </i>
{% else %}
    <p>Alle spillere på markedet, ordnet efter deres aktuelle saldo.</p>
    <div class="table-responsive">
        <table class="table table-striped mb-5" id="trader_status_table"> 

            <thead id="trader_status_thead">
                <!-- Since allow traders to visit the monitor page when game is over & since we assume they use small screen devices
                    we have to make the table reponsive in different ways
                -->
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Navn</th>
                    {% if not market.game_over %}
                        <th class="d-none d-md-block" scope="col">Klar til næste runde</th>
                        <th class="d-md-none" scope="col">Klar</th>
                    {% endif %}
                        <th scope="col">Produktionsomkostning/enhed</th>
                    <th scope="col">Saldo</th>
                    {% if not market.game_over %}
                    <th></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for trader in market.active_or_bankrupt_traders %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ trader.name }}</td>
                        {% if not market.game_over%}
                            {% if trader.is_ready %}
                                <td style="color:green"><big>&#10003;</big></td>
                            {% else %}
                                {% if trader.bankrupt %}
                                <td style="color:green"><big>(&#10003;)</big></td>
                                {% else %}
                                <td style="color:red"><big>&#10007;</big></td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <td>{{ trader.prod_cost }}</td>
                        <td>{{ trader.balance }} {% if trader.bankrupt %}<small class="pl-2">konkurs</small>{% endif %}</td>
                        {% if not market.game_over %}
                            <td><a href="#" onclick="prepare_remove_trader({{ trader.id }}, '{{ trader.name }}')">Fjern</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% if market.all_are_bankrupt and not market.game_over %}
        <div class="alert alert-danger mb-4">
            <p>
                Alle spillere på markedet er gået konkurs! Spillet kan kun fortsætte, hvis nye producenter tilslutter sig markedet. 
                Skal vi afslutte spillet?
            </p>
            <form action="{% url 'market:set_game_over' market.market_id %}" method = "POST">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger">
                        {% csrf_token %}
                        Afslut Spil
                    </button>
                </div>
            </form>
        </div>
    {% endif %}
    
    {% if not market.game_over %}
        <!-- The Finish Round button -->
        <div class="d-flex justify-content-center">
            {% if market.num_ready_traders == 0 %}
                <button type="button" data-toggle="tooltip" id="toggle_auto_finish_btn" class="btn btn-warning" disabled
                 title="Du kan ikke afslutte runden før mindst én spiller er klar.">
                    &nbsp;&nbsp;Afslut Runde {{ market.round|add:1 }}&nbsp;&nbsp;
                </button>
            {% else %}
                {% if market.num_ready_traders < market.num_active_traders %}       
                    <!-- not all active traders are ready, so show a submit button with pop-up confirmation -->   
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#nextRoundConfirmationPopUp">
                        &nbsp;&nbsp;Afslut Runde {{ market.round|add:1 }}&nbsp;&nbsp;
                    </button>
                
                {% else %}
                    <!-- all active traders are ready so show a submit button with no confirmation required -->
                    <button type="button" class="btn btn-primary" onclick="next_round()">
                        &nbsp;&nbsp;Afslut Runde {{ market.round|add:1 }}&nbsp;&nbsp;
                    </button>
                    {% if market.monitor_auto_pilot %}
                        <script> 
                            next_round()
                        </script>
                    {% endif %}
                {% endif %}

            {% endif %}
        </div>
    {% endif %}
{% endif %}
